body {
  background-color: thistle;
}

h1,
h2,
.imageContainer,
.btns {
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
}

.btnOne,
.btnTwo {
  color: rgb(34, 5, 34);
  font-family: "Playfair Display", serif;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}

.btnOne:hover,
.btnTwo:hover {
  background-color: violet;
}

